:root {
    --main-color: #132231;
    --secondary-color: #f5f5f5;
    --accent-color: #f9a825;
    --text-color: #333;
    --heading-font: 'Merriweather', serif;
    --body-font: 'Roboto', sans-serif;
}

<<<<<<< HEAD
body {
    font-family: var(--body-font);
    line-height: 1.6;
    background-color: var(--secondary-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.main-header {
    background-color: var(--main-color);
    color: white;
=======
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fff;
}

.geeta .verse{
    font-family: quran;
    margin: 10px;
    font-size: 20px;
    line-height: 35px;
    color: var(--main-color);
    font-size: 25px;
}

.geeta{
    width: 50%;
    max-height: 50vh;
    overflow: auto;
    padding: 10px;
    margin: 10px;
>>>>>>> parent of d2d73bf (Added Greetings, Date and Time)
    text-align: center;
    padding: 30px 0;
}

.main-header h1 {
    font-family: var(--heading-font);
    font-size: 3rem;
    margin: 0;
}

.main-header p {
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 10px;
}

.content {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section-title {
    font-family: var(--heading-font);
    font-size: 2rem;
    color: var(--main-color);
    margin-bottom: 10px;
}

.shloka-content {
    background-color: var(--secondary-color);
    padding: 20px;
    border-left: 5px solid var(--accent-color);
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.translation, .verse, .chapter-verse, .pronunciation, .meaning {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.pronunciation audio {
    display: block;
    margin-top: 10px;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: var(--main-color);
    color: white;
    margin-top: 20px;
}

.date-time {
    font-size: 1.1rem;
}
.pronunciation-button {
    background-color: #4CAF50; /* Green background */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.pronunciation-button:hover {
    background-color: #45a049; /* Darker green on hover */
}
.date-time {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #333;
    text-align: center;
    margin-top: 20px;
}
